<?xml version="1.0"?>
<!--
/**
 * @author Kim Phung - BURO210
 * @copyright Copyright © 2023 BURO210. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Macademy_JsFun"/>
</config>